<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/adminLte/css/adminlte.css"/>

</head>

<body>
<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 638.367px;">
    <center>
        <table style="width: 90%;" class="table table-striped">
            <tr>
                <td style="width: 40%; border: 2px solid black">
                    Назва
                </td>
                <td style="width: 40%; border: 2px solid black">
                    Ціна
                </td>
                <td style="width: 20%">

                </td>
            </tr>
            <tr th:each="service:${services}">
                <td style="width: 40%; border: 2px solid black">
                    <h6 th:text="${service.name}"/>
                </td>
                <td style="width: 40%; border: 2px solid black">
                    <h6 th:text="${service.price}"/>
                </td>
                <td style="width: 20%">
                    <form method="post" th:action="@{/admin/additional-services/delete/{id}(id=${service.id})}"
                          style="display: inline-block;">
                        <button type="submit" name="action" value="delete" class="btn btn-secondary">
                            <img src="/images/delete.png" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                    <form method="get" th:action="@{/admin/additional-services/edit/{id}(id=${service.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 20px">
                            <img src="/images/edit.png" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-secondary" style="margin-top: 25px"
                onclick="window.location.href = '/admin/additional-services/add/'">
            Додати
        </button>
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>