<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}" />

</head>

<body>
<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 638.367px;">
    <center>
        <form method="post" th:action="@{{context_path}/admin/additional-services/add/(context_path=${context_path})}">
            Ім'я <input class="form-control" type="text" name="name" placeholder="і'мя"
                        style="display: inline-block; margin-top: 35px; width: 40%;"><br/>
            Ціна <input class="form-control" type="text" name="price" placeholder="ціна"
                        style="display: inline-block; margin-top: 35px; width: 40%;"><br/>
            <button type="submit" class="btn btn-secondary" style="margin-top: 25px">
                Додати
            </button>
        </form>
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>