<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}"/>

</head>

<body>

<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 638.367px;">
    <center>
        <table style="width: 90%;"  class="table table-striped">
            <tr>
                <td style="width: 40%; border: 2px solid black">
                    Назва
                </td>
                <td style="width: 40%; border: 2px solid black">
                    Дата
                </td>
                <td style="width: 20%">

                </td>
            </tr>
            <tr th:each="news:${news}">
                <td style="width: 40%; border: 2px solid black">
                    <h6 th:text="${news.title}"/>
                </td>
                <td style="width: 40%; border: 2px solid black">
                    <h6 th:text="${news.getDate().toString()}"/>
                </td>
                <td style="width: 20%">
                    <form method="post" th:action="@{{context_path}/admin/news/delete/{id}(context_path=${context_path}, id=${news.id})}"
                          style="display: inline-block;">
                        <button type="submit" name="action" value="delete" class="btn btn-secondary">
                            <img src="/images/delete.png" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                    <form method="get" th:action="@{{context_path}/admin/news/edit/{id}(context_path=${context_path}, id=${news.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 20px">
                            <img src="/images/edit.png" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-secondary" style="margin-top: 25px"
                th:onclick="|window.location.href = '@{{context_path}/admin/news/add/(context_path=${context_path})}'|">
            Додати
        </button>
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>