<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}"/>
</head>

<body>
<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 638.367px;">
    <center>
        <table style="width: 90%" class="table table-striped">
            <tr>
                <td style="width: 20%; border: 2px solid black">
                    id
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Тільки доставка
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Статус
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Дата реєстрації
                </td>
                <td style="width: 20%">

                </td>
            </tr>
            <tr th:each="order:${order}">
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.id}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.isOnlyDelivery}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.status}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.dataRegistration}"></h6>
                </td>
                <td style="width: 20%">
                    <form method="get" th:action="@{{context_path}/admin/order/edit/{id}(context_path=${context_path}, id=${order.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 20px">
                            <img th:src="@{{context_path}/images/edit.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
        </table>

        <br/>
        <div style="display: inline-block;">
            <a th:href="@{{context_path}/admin/orders/{number}(context_path=${context_path},number=${current-1})}" class="btn btn-secondary" style="display: inline-block; margin-right: 5px; margin-bottom: 20px;">Previous</a>
            <h1 th:text="${current.toString()}" style="display: inline-block; margin-right: 10px;"></h1>
            <a th:href="@{{context_path}/admin/orders/{number}(context_path=${context_path},number=${current+1})}" class="btn btn-secondary" style="display: inline-block; margin-bottom: 20px;">Next</a>
        </div>
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>