<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <style>
        .dataTables_filter {
            margin-right: 70%;
        }
    </style>
</head>

<body>
<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 538.367px;">
    <center>
        <table style="width: 90%;" id="newsTable" class="table table-striped">
            <thead>
            <tr>
                <td style="width: 20%; border: 2px solid black">
                    id
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Тільки доставка
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Статус
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Дата реєстрації
                </td>
                <td style="width: 20%">

                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order:${orders}">
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.id}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.isOnlyDelivery}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.status}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${order.dataRegistration}"></h6>
                </td>
                <td style="width: 20%">
                    <form method="get" th:action="@{{context_path}/admin/order/edit/{id}(context_path=${context_path}, id=${order.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 20px">
                            <img th:src="@{{context_path}/images/edit.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

<!--        <br/>-->
<!--        <div style="display: inline-block;" th:if="${max != 1}">-->
<!--            <a th:href="@{{context_path}/admin/order/{number}(context_path=${context_path},number=${current-1})}"-->
<!--               th:classappend="${current == 1} ? 'btn btn-secondary disabled' : 'btn btn-secondary'"-->
<!--               style="display: inline-block; margin-right: 5px; margin-bottom: 20px;">Previous</a>-->
<!--            <h1 th:text="${current.toString()}" style="display: inline-block; margin-right: 10px;"></h1>-->
<!--            <a th:href="@{{context_path}/admin/order/{number}(context_path=${context_path},number=${current+1})}"-->
<!--               th:classappend="${current == max} ? 'btn btn-secondary disabled' : 'btn btn-secondary'"-->
<!--               style="display: inline-block; margin-bottom: 20px;">Next</a>-->
<!--        </div>-->
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var pageNumber = 6;

        var table = $('#newsTable').DataTable({
            "pageLength": pageNumber,
            "lengthChange": false,
            "info": false,
            "paging": true
        });

        var totalRows = table.data().length / pageNumber;
        $('#totalRows').text(totalRows);

        if (totalRows <= 1) {
            table.destroy(); // Знищуємо попередню таблицю без пагінації
            table = $('#newsTable').DataTable({
                "pageLength": pageNumber,
                "lengthChange": false,
                "info": false,
                "paging": false
            });
        }
    });
</script>
</body>

</html>