<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}"/>
</head>

<body>
<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 638.367px;">
    <center>
        <table style="width: 90%"  class="table table-striped">
            <tr>
                <td style="width: 15%; border: 2px solid black">
                    ФІО
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Вулиця
                </td>
                <td style="width: 15%; border: 2px solid black">
                    Місто
                </td>
                <td style="width: 10%; border: 2px solid black">
                    Штат
                </td>
                <td style="width: 10%; border: 2px solid black">
                    Індекс
                </td>
                <td style="width: 15%; border: 2px solid black">
                    Телефон
                </td>
                <td style="width: 30%">

                </td>
            </tr>
            <tr th:each="storage:${storages}">
                <td style="width: 15%; border: 2px solid black">
                    <h6 th:text="${storage.fullName}"></h6>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${storage.street}"></h6>
                </td>
                <td style="width: 15%; border: 2px solid black">
                    <h6 th:text="${storage.city}"></h6>
                </td>
                <td style="width: 10%; border: 2px solid black">
                    <h6 th:text="${storage.state}"></h6>
                </td>
                <td style="width: 10%; border: 2px solid black">
                    <h6 th:text="${storage.index}"></h6>
                </td>
                <td style="width: 15%; border: 2px solid black">
                    <h6 th:text="${storage.phone}"></h6>
                </td>
                <td style="width: 30%">
                    <form method="post" th:action="@{{context_path}/admin/storage/delete/{id}(context_path=${context_path}, id=${storage.id})}"
                          style="display: inline-block;">
                        <button type="submit" name="action" value="delete" class="btn btn-secondary">
                            <img th:src="@{{context_path}/images/delete.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                    <form method="get" th:action="@{@{{context_path}/admin/storage/edit/{id}(context_path=${context_path}, id=${storage.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 10px">
                            <img th:src="@{{context_path}/images/edit.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </center>
    <center>
        <button type="button" class="btn btn-secondary" th:onclick="|window.location.href = '@{{context_path}/admin/storage/add/(context_path=${context_path})}'|"
                style="margin-top: 25px">
            <h3>Додати</h3>
        </button>
    </center>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>