<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{{context_path}/adminLte/css/adminlte.css(context_path=${context_path})}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <style>
        .dataTables_filter {
            margin-right: 70%;
        }
    </style></head>

<body>

<header th:insert="blocks/navbar :: header" style="margin-top: 0"></header>
<div class="content-wrapper" style="min-height: 538.367px;">
    <center>
        <table style="width: 90%;" id="newsTable" class="table table-striped">
            <thead>
            <tr>
                <td style="width: 20%; border: 2px solid black">
                    Email
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Телефон
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Баланс
                </td>
                <td style="width: 20%; border: 2px solid black">
                    Статус
                </td>
                <td style="width: 20%">

                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${user.email}"/>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${user.phone}"/>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:text="${user.money}"/>
                </td>
                <td style="width: 20%; border: 2px solid black">
                    <h6 th:each="role:${user.getRoles()}" th:text="${role.name.substring(5)}"/>
                </td>
                <td style="width: 20%">
                    <form method="post" th:action="@{{context_path}/admin/user/delete/{id}(context_path=${context_path}, id=${user.id})}"
                          style="display: inline-block;">
                        <button type="button" class="btn btn-secondary" th:disabled="${user.getId() == 3}"  data-target="#myModal" data-toggle="modal">
                            <img th:src="@{{context_path}/images/delete.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Підтвердіть видалення</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Ви впевнені, що хочете видалити цей елемент?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати
                                    </button>
                                    <button type="submit" class="btn btn-danger" id="confirmDelete">Видалити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <form method="get" th:action="@{{context_path}/admin/user/edit/{id}(context_path=${context_path}, id=${user.id})}"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-secondary" style="margin-left: 20px">
                            <img th:src="@{{context_path}/images/edit.png(context_path=${context_path})}" class="img-fluid" style="width: 20px; height: 20px;">
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
<script src="/USAINUA_Admin/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var pageNumber = 6;

        var table = $('#newsTable').DataTable({
            "pageLength": pageNumber,
            "lengthChange": false,
            "info": false,
            "paging": true
        });

        var totalRows = table.data().length / pageNumber;
        $('#totalRows').text(totalRows);

        if (totalRows <= 1) {
            table.destroy(); // Знищуємо попередню таблицю без пагінації
            table = $('#newsTable').DataTable({
                "pageLength": pageNumber,
                "lengthChange": false,
                "info": false,
                "paging": false
            });
        }
    });
</script>
<script>
    document.getElementById("confirmDelete").addEventListener("click", function () {
        document.querySelector("form").submit();
    });
</script>
</body>

</html>