<div th:fragment="header">
    <a th:href="@{{context_path}/admin/stats/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Статистика
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/shop/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Магазини
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/product/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Продукти
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/additional-services/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Сервіси
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/storages/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Склади
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/news/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Новини
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/order/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Замовлення
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a th:href="@{{context_path}/admin/test/(context_path=${context_path})}" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Тест
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
</div>