<div th:fragment="header">
    <a href="/admin/stats/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Статистика
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/shops/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Магазини
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/products/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Продукти
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/additional-services/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Сервіси
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/storages/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Склади
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/news/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Новини
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/orders/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Замовлення
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <a href="/admin/test/" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Тест
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
</div>